@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

:root{
    --primary-color: #FEA301;
    --secondary-color:#01ACFD;
    --white-color:#FFFFFF;
    --black-color:#495560;
    --hover--color:#8854d0;
}
.Navigation-item{
  margin: 0 auto;
  max-width: 1160px;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  background: var(--white-color);

}
.N-img-logo{
  display: flex;
  row-gap: 11px;
  align-items: center;
}
.N-img-logo>h1{
  font-size: 32px;
  font-weight: bold;
  color: black;
}
.N-img-logo>h1:hover{
  color: var(--hover--color);
}
.Navigation-item>ul{
  display: flex;
  
  align-items: center;
}
.Navigation-item>ul>li{
  list-style: none;
  margin-right: 32px;
  font-size: 1.25rem;
  font-weight: bold;
}
.Navigation-item>ul>li>a{
  text-decoration: none;
}
.link1{
  color:#FEA301 ;
}
.link2 {
  color:#01ACFD ;
}
.link3 {
  color:#05D4DF;
}
.link4 {
  color:#5D58EF ;
}
.Navigation-item>ul>li>a:hover{
 color: var(--hover--color);
}
.btn{
  padding: 10px 60.5px;
  background: var(--primary-color);
  border: none;
  border-radius: 12px;
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--white-color);
  cursor: pointer;
}
.btn:hover{
  background: var(--hover--color);
}
.marquee{
  font-size: 30px;
  font-weight: bold;
}
/* mobile navigation */
.mobile-nav{
  display: none;
}
.marquee-mobile{
  font-size: 20px;
  font-weight: bold;
  display: none;
}
/* banner section */
.banner{
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.content{
  width: 100%;
  margin: 122px 50px 122px 0;
  max-width: 640px;
}
.content>h2{
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 24px;
  color: black;
}
.c-span1{
  color: var(--primary-color);
}
.c-span2{
  color: var(--secondary-color);
}
.content>p{
  color: var(--black-color);
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 24px;
}
.content>button{
  border: none;
  background:black;
  padding: 10px 47px;
  cursor: pointer;
  color: #FFFFFF;
  border-radius: 12px;
  font-weight: bold;
  font-size: 1.25rem;
}
.content>button:hover{
  background: var(--hover--color);
}
.b-img>img{
  width: 100%;
}
/* Standard Curriculum */
.Standard-Curriculum{
  background-image: url('../assets/bg.png');
  background-size: cover;
  padding: 60px 0;
}
.section-h2{
  color: black;
  font-weight: bold;
  font-size: 2.875rem;
  text-align: center;
}
.card-contaner{
  max-width: 1160px;
  margin: 80px auto;
  display: flex;
  column-gap: 28.29px;
  
}
.card-contaner>.card{
   /* max-width:367.8px;  */
  width: 100%;
  padding: 53px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 18px;
  border: 1px solid #DEF5FF;
  background: linear-gradient(#DEF5FF ,#FFFFFF,#FFFFFF);
}
.card-contaner>.card>h4{
  color: #202020;
  font-weight: bold;
  font-size: 1.5325rem;
  margin-top: 32px;
}
.card-contaner>.card>p{
  color: #808080;
  font-weight: 500;
  font-size: 0.9375rem;
  margin: 33px 0;
}
.card-contaner>.card>span{
  color:#64c8FF ;
  font-size: 0.9375rem;
  font-weight: bold;
}
#card2{
  border: 1px solid #FFF4DC;
  background: linear-gradient(#FFF4DC,#FFFFFF,#FFFFFF);
}
#card2>span{
  color: #F0AA00;
}
#card3{
  border: 1px solid #F2E8FF;
  background: linear-gradient(#F2E8FF,#FFFFFF,#FFFFFF);
}
#card3>span{
  color: #8700FF;
}
.less-getter-btn{
  display: flex;
  column-gap: 10px;
  justify-content: center;
}
.less-getter-btn>button{
  width: 60px;
  height: 60px;
  background: var(--primary-color);
  border: none;
  border-radius: 50%;
  color: #FFFFFF;
}
/* our story */
.our-story{
  background:url(../assets/bg.png) ,linear-gradient(#FFFFFF,rgba(254,163,1,0.3)) ;
  background-size: cover;
  padding: 60px 0;
  
}
.story-card{
  max-width: 1160px;
  margin: 80px auto;
  display: flex;
  column-gap: 19.17px;
}
.story-1{
   max-width: 540px;
  position: relative;
  background: #FFFFFF;
  padding-bottom: 34.52px;
  border-radius: 16px;
}
.story-1>div>img{
  border-radius: 16px 16px 0 0;
}
.story-1>div>button{
  position: absolute;
  padding: 15px 19px;
  background:#3CD8E8 ;
  border: none;
  top: 314.14px;
  left: 38.35px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 47px;
  color: #FFFFFF;
}
.story-1>h3{
  margin-top: 58.63px;
  margin-left: 38px;
  color: black;
  font-size: 24px;
  font-weight: bold;
}
.story-1>p{
  color: #666666;
  font-size: 15px;
  font-weight: 500;
  margin: 47.93px 68.86px 0 38.35px;
}
.r-story{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 19px;

}

.story{
  max-width: 290px;
  overflow: visible;
  background: #FFFFFF;
  padding-bottom:28px ;
  border-radius: 16px;
  
}
.story>div>img{
  border-radius: 16px 16px 0 0;
  } 
  .s2-btn-div{
    margin-top: -21px;
    margin-left: 38px;
  }
.s2-btn{
  z-index: 10;
  padding: 9px 18px;
  background: #95B226;
  border: none;
  display: inline-block;
  font-weight: 500;
  font-size: 15px;
  border-radius: 47px;
  color: #FFFFFF;
}
.story>h5{
  color: #000000;
  font-weight: bold;
  font-size: 15px;
  margin: 38px 0 0 38px;
  
}
#story-3btn{
  background: #5D58F0;
}
.story-btndiv{
  text-align: center;
}
.story-btndiv>button{
  color: #FFFFFF;
  background: #000000;
  padding: 10px 61px;
  border-radius: 12px;
  border: none;
  font-size: 20px;
  font-weight: bold;
}
/* Footer */
.footer{
  background:#01ACFD ;
  padding: 123px 228px 174px 140px;
}
.footer-conten{
  max-width: 1070px;
  display: flex;
}
.kid-education{
  max-width: 399px;
  margin-right: 172px;
}
.kid-education>p{
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 400;
  margin: 35px 0 0 7px;
}
.k-logo{
  display: flex;
  column-gap: 0.34px;
}
.k-logo>h3{
  font-weight: bold;
  font-size: 42px;
  color: #FFFFFF;

}
.about-school{
  margin-right: 143px;
 
}
.about-school>h4{
  font-size: 24px;
  font-weight: bold;
  color: #FFFFFF;
  margin-bottom: 32px;
}
.school{
  display: inline-block;
}
.about-school>p{
  font-size: 20px;
  font-weight: 400;
  color: #FFFFFF;
  margin-bottom: 24px;
}
.keep-in>h5{
  font-size: 26px;
  font-weight: bold;
  color: #FFFFFF;
  margin-bottom: 32px;
}
.social-icon{
  display: flex;
  column-gap: 10px;
}


@media screen and (max-width: 576px){
  .desktop-nav{
    display: none;
  }
  .mobile-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
    border-bottom: 1px solid var(--primary-color);
  }
  .mobile-nav>box-icon{
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
  .banner{
    width: calc(100% - 32px);
    flex-direction: column-reverse;
    margin: 8px 16px 0 16px;
  }
  .content{
    width: calc(100% - 20px);
    text-align: center;
    margin: 20px 10px;
  }
  .b-img{
    margin: 20px 10px 0 10px;
  }
  .Standard-Curriculum{
    padding: 0;
  }
  .card-contaner{
    flex-direction: column;
    margin: 20px 16.5px;
    row-gap: 12px;
    
  }
  
  .section-h2{
    margin-top: 40px;
  }
  .less-getter-btn{
    display: none;
  }
  .our-story{
    padding: 40px 0;
  }
  #section-h2{
    margin-top: 0;
  }
  .story-card{
    padding: 20px 16px;
    margin: 0 auto;
  }
  .story-1{
    display: none;
  }
  .r-story{
    width: 100%;
  }
  .story{
    padding: 0;
  }
  .story>div>img{
   width: 100%;
    
  }
  .s2-btn-div{
    margin-top: -20px;
    margin-left: 22px;
  }

  .s2-btn{
    padding: 6px 11px;
    font-size: 9px;
    font-weight: 400;
  
  }
  .story>h5{
    font-size: 9px;
    font-weight: bold;
    margin:11.42px 0 17px 22px ;
    
  }
  .footer{
    padding: 65px 0 60px 0;
  }
  .footer-conten{
    flex-direction: column;
  }
  .k-logo{
    margin-left:16px ;
  }
  .kid-education>p{
    margin-bottom: 32px;
    margin-left:21px ;
  }
  .about-school,.keep-in{
    margin-left: 20px;
  }
  
  
}

